/* Start header */
.header {
  height: 800px;
  margin-top: -80px;
  width: 100%;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 11;
}

.header .header-background {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
}

.header .header-background .background-slide {
  width: 100%;
  height: 100%;
}

.header .header-background .background-slide .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header .header-background .background-slide .slide.active {
  opacity: 1;
  visibility: visible;
}

.header .header-background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center center;
}

.header .slide-button span {
  color: #ffffff;
  font-size: 54px;
  opacity: 0.8;
}

.header .slide-button span:focus,
.header .slide-button span:active {
  color: #ffffd3;
  opacity: 1;
}

.header span#previous {
  position: absolute;
  top: 55%;
  left: 2.5%;
  z-index: 12;
  cursor: pointer;
}

.header span#next {
  position: absolute;
  top: 55%;
  right: 2.5%;
  z-index: 12;
  cursor: pointer;
}

.header .slide-button ul {
  position: absolute;
  z-index: 12;
  width: 100px;
  bottom: 5%;
  left: calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header .slide-button ul li {
  padding: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  opacity: 0.4;
  list-style: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s;
}

.header .slide-button ul li.button-active {
  opacity: 0.8;
}

.header .header-content {
  top: 25%;
  position: absolute;
  z-index: 13;
  padding-right: inherit;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  filter: brightness(1.5);
}

.header .header-content .header-title {
  background: linear-gradient(to right, #00c6ff, #00b57e, #d4e157);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 72px;
  color: transparent;
}

.header .header-content .header-description {
  font-size: 24px;
  margin-top: 16px;
}

/* Start header responsive */
@media screen and (max-width: 1199.98px) {
  .header .header-content .header-title {
    font-size: 66px;
  }
  .header .header-content .header-description {
    font-size: 21px;
  }
  .header .slide-button span {
    font-size: 50px;
  }
  .header .slide-button ul {
    width: 90px;
    left: calc(50% - 45px);
  }
  .header .slide-button ul li {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 991.98px) {
  .header .header-content .header-title {
    font-size: 60px;
  }
  .header .header-content .header-description {
    font-size: 18px;
  }
  .header .slide-button span {
    font-size: 46px;
  }
  .header .slide-button ul {
    width: 80px;
    left: calc(50% - 40px);
  }
  .header .slide-button ul li {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    margin-top: -60px;
  }
  .header .header-content .header-title {
    font-size: 54px;
  }

  .header .header-content .header-description {
    font-size: 15px;
  }
  .header .slide-button span {
    font-size: 42px;
  }
  .header .slide-button ul {
    width: 70px;
    left: calc(50% - 35px);
  }
  .header .slide-button ul li {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 575.98px) {
  .header .header-content .header-title {
    font-size: 58px;
  }
  .header .header-content .header-description {
    font-size: 16px;
  }
  .header .slide-button span {
    font-size: 38px;
  }
  .header .slide-button ul {
    width: 60px;
    left: calc(50% - 30px);
  }
  .header .slide-button ul li {
    width: 12px;
    height: 12px;
  }
}
/* End header responsive */
/* End header */

/* Start main activities */
.main-activities .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-activities {
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(#00a7fb, #0a2540);
  width: 100%;
  padding: 80px 0;
}

.main-activities .activities-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 70px;
  color: #e1f4ff;
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
}

.main-activities .box-wrapper {
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
}

.main-activities .activities-box {
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
  background: #f3e3d1;
  width: 700px;
  height: 100%;
}

.main-activities .box-wrapper:nth-child(even) .activities-box {
  border-radius: 0 70px 70px 0;
  float: left;
}

.main-activities .box-wrapper:nth-child(odd) .activities-box {
  border-radius: 70px 0 0 70px;
  float: right;
}

.main-activities .box-wrapper .box-title {
  text-align: center;
}

.main-activities .activities-box .row {
  margin-left: 0;
  margin-right: 0;
}

.main-activities .activities-box .box-content {
  width: 45%;
  text-align: justify;
  margin: auto;
}

.main-activities .activities-box .box-image {
  width: 45%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-activities .activities-box .box-image img {
  border-radius: 30px;
  aspect-ratio: 1 / 1;
  width: 80%;
  object-fit: cover;
  object-position: left center;
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
  transition: transform 0.8s;
}

.main-activities .box-wrapper.difference .activities-box .box-image img {
  object-position: center;
}

.main-activities .activities-box .box-title {
  color: #0039ca;
}

.main-activities .activities-box .box-description {
  color: #192335;
  margin: 0;
}

.main-activities .activities-box:hover .box-image img {
  transform: scale(1.05);
  border: 1px solid #393cba;
}

/* Start main activities responsive */
@media screen and (max-width: 1199.98px) {
  .main-activities .activities-title {
    font-size: 36px;
    margin-bottom: 60px;
  }
  .main-activities .box-wrapper {
    height: 325px;
    margin-bottom: 45px;
  }

  .main-activities .activities-box {
    width: 650px;
  }
  .main-activities .activities-box .box-image {
    height: 325px;
  }
}

@media screen and (max-width: 991.98px) {
  .main-activities .activities-title {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .main-activities .box-title {
    font-size: 22px;
  }
  .main-activities .box-wrapper {
    height: 300px;
    margin-bottom: 30px;
  }
  .main-activities .activities-box {
    width: 600px;
  }
  .main-activities .activities-box .box-image {
    height: 300px;
  }
  .main-activities {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .main-activities {
    padding: 40px 0;
  }
  .main-activities .activities-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .main-activities .box-title {
    font-size: 20px;
  }
  .main-activities .activities-box {
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
  }
  .main-activities .activities-box .box-content {
    width: 40%;
  }
  .main-activities .activities-box .box-image {
    width: 50%;
  }
  .main-activities .activities-box .box-image img {
    width: 70%;
    height: 70%;
  }
  .main-activities .box-wrapper:nth-child(even) .activities-box {
    border-radius: 70px;
    float: none;
  }
  .main-activities .box-wrapper:nth-child(odd) .activities-box {
    border-radius: 70px;
    float: none;
  }
}

@media screen and (max-width: 575.98px) {
  .main-activities .activities-box .box-image img {
    transition: none;
  }
  .main-activities .activities-box:hover .box-image img {
    transform: none;
    border: none;
  }
  .main-activities .activities-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .main-activities .box-title {
    font-size: 18px;
  }
  .main-activities .activities-box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .main-activities .activities-box .box-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .main-activities .activities-box .box-image img {
    width: 100%;
    height: 100%;
    filter: none;
  }
  .main-activities .box-wrapper {
    margin-bottom: 0;
  }
  .main-activities .box-wrapper:nth-child(odd) .activities-box {
    background: #d1f3e2;
  }
  .main-activities .box-wrapper:nth-child(even) .activities-box .box-image img {
    border-radius: 0;
  }
  .main-activities .box-wrapper:nth-child(odd) .activities-box .box-image img {
    border-radius: 0;
  }
  .main-activities .box-wrapper:nth-child(even) .activities-box {
    border-radius: 0;
  }
  .main-activities .box-wrapper:nth-child(odd) .activities-box {
    border-radius: 0;
  }
}
/* End main activities responsive */
/* End main activities */

/* Start schedule */
.schedule {
  background: linear-gradient(135deg, #afd7ff, #c4e7ff, #e1f4ff);
  color: #192335;
  padding: 80px 0;
}

.schedule .row {
  justify-content: space-evenly;
  align-items: center;
}

.schedule .one {
  padding: 0;
}

.schedule .two {
  padding: 0;
}

.schedule .inner-head {
  text-align: center;
  margin-bottom: 36px;
  color: #0039ca;
}

.schedule .inner-head .schedule-title {
  font-size: 40px;
  margin-bottom: 24px;
}

.schedule .schedule-description {
  text-align: justify;
  margin-bottom: 0;
}

.schedule .schedule-main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.schedule .schedule-main .schedule-background {
  width: 100%;
  object-fit: contain;
}

.schedule .schedule-main .swiper-wrapper {
  position: absolute;
}

.schedule .schedule-main .inner-wrapper {
  padding: 70px 50px 0 50px;
}

.schedule .schedule-main .inner-month {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.schedule .inner-image {
  text-align: center;
  margin-bottom: 24px;
}

.schedule .inner-image img {
  width: 250px;
  height: 125px;
  object-fit: cover;
}

.schedule .inner-content .inner-title {
  font-size: 18px;
  color: #0039ca;
  text-align: justify;
}

.schedule .inner-description {
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;
}

.schedule .left-button,
.schedule .right-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #b2b2b2;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.schedule .left-button::after,
.schedule .right-button::before,
.schedule .left-button::before,
.schedule .right-button::after {
  font-size: 16px;
  color: #ffffff;
  font-weight: 800;
}

.schedule .left-button:active,
.schedule .right-button:active {
  background-color: #0056f0;
}

.schedule .left-button {
  top: 40%;
  left: 5%;
  transform: translateY(-50%);
}

.schedule .right-button {
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
}

/* Start schedule responsive*/
@media screen and (max-width: 1199.98px) {
  .schedule .inner-head .schedule-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .schedule .schedule-main .inner-month {
    margin-bottom: 8px;
  }
  .schedule .inner-image {
    margin-bottom: 16px;
  }
  .schedule .one {
    padding: 0 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .schedule .schedule-main .inner-wrapper {
    padding: 60px 40px 0 40px;
  }

  .schedule .left-button,
  .schedule .right-button {
    width: 30px;
    height: 30px;
  }

  .schedule .left-button::after,
  .schedule .right-button::before,
  .schedule .left-button::before,
  .schedule .right-button::after {
    font-size: 14px;
  }

  .schedule .inner-head .schedule-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .schedule .inner-image img {
    width: 225px;
    height: 112.5px;
  }
  .schedule .schedule-description {
    margin-bottom: 32px;
  }
  .schedule .schedule-main .inner-month {
    font-size: 18px;
  }
  .schedule .inner-content .inner-title {
    font-size: 16px;
  }
  .schedule .inner-description {
    font-size: 14px;
  }
  .schedule {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .schedule .schedule-main .inner-wrapper {
    padding: 50px 30px 0 30px;
  }

  .schedule .left-button,
  .schedule .right-button {
    width: 20px;
    height: 20px;
  }

  .schedule .left-button::after,
  .schedule .right-button::before,
  .schedule .left-button::before,
  .schedule .right-button::after {
    font-size: 12px;
  }
  .schedule .inner-head .schedule-title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .schedule .inner-image img {
    width: 200px;
    height: 100px;
  }
  .schedule {
    padding: 40px 0;
  }
  .schedule .schedule-description {
    margin-bottom: 24px;
  }
  .schedule .schedule-main .inner-month {
    font-size: 16px;
  }
  .schedule .inner-content .inner-title {
    font-size: 14px;
  }
  .schedule .inner-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 575.98px) {
  .schedule .inner-head .schedule-title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .schedule .schedule-description {
    margin-bottom: 22px;
  }
  .schedule .schedule-main .inner-wrapper {
    padding: 30px 15px 0 15px;
  }
  .schedule .left-button,
  .schedule .right-button {
    width: 0;
    height: 0;
    background: none;
    top: 45%;
  }

  .schedule .left-button::after,
  .schedule .right-button::before,
  .schedule .left-button::before,
  .schedule .right-button::after {
    font-size: 18px;
    color: #0039ca;
  }
  .schedule .schedule-main .swiper-wrapper {
    position: static;
  }
  .schedule .inner-image img {
    min-width: 250px;
    width: 60%;
    height: 150px;
    object-fit: fill;
    border-radius: 15px;
  }
  .schedule .schedule-main .schedule-background {
    display: none;
  }
}
/* End schedule responsive*/
/* End schedule */

/* Start schedule */

/* Start feedback */
.feedback {
  background: #32363a;
  padding: 80px 0;
}

.feedback .feedback-say {
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-bottom: 10px;
}

.feedback .feedback-say i {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  position: relative;
  font-size: 250px;
}

.feedback .feedback-say p {
  font-family: var(--fontText);
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #393cba;
  z-index: 1;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  padding: 40px;
  font-weight: 500;
}

.feedback .feedback-content {
  text-align: center;
  margin-bottom: 44px;
}

.feedback .feedback-content .feedback-title {
  font-size: 40px;
  margin-bottom: 36px;
}

.feedback .feedback-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.feedback .feedback-box {
  background: #ffffff;
  width: 450px;
  height: 300px;
  border-radius: 50px;
  color: #192335;
  position: relative;
  margin-bottom: 48px;
  box-shadow: rgba(136, 165, 191, 0.2) 3px 1px 8px 0px,
    rgba(255, 255, 255, 0.4) -3px -1px 8px 0px;
  transition: 0.8s;
}

.feedback .feedback-box:hover {
  transform: scale(1.05);
}

.feedback .feedback-box:hover .box-customer .customer-image img {
  border: 1px solid #393cba;
  transform: scale(1.15);
}

.feedback .feedback-box .box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback .feedback-box .box-say {
  width: 100%;
  text-align: center;
}

.feedback .feedback-box .box-content {
  margin-bottom: 0;
  color: #9999a3;
  text-align: justify;
}

.feedback .feedback-box .box-say img {
  width: 40px;
  height: 40px;
}

.feedback .feedback-box .box-customer {
  position: relative;
}

.feedback .feedback-box .box-customer::before {
  position: absolute;
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 64px;
  top: -115%;
  left: 85%;
  transform: translate(-50%, 50%);
}

.feedback .feedback-box .box-customer .row {
  margin-left: 0;
  margin-right: 0;
}

.feedback .feedback-box .box-customer .customer-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.feedback .feedback-box .box-customer .customer-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.6;
}

.feedback .feedback-box .customer-content .customer-name,
.feedback .feedback-box .customer-content .customer-position {
  margin-bottom: 0;
}

.feedback .feedback-box .customer-content .customer-name {
  font-weight: bold;
}

.feedback .feedback-box .customer-content .customer-position {
  color: #f75c9d;
  font-size: 16px;
}

.feedback .feedback-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feedback .feedback-form .form-wrapper:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transform: scale(1.05);
  background-color: #9f9e9e;
}

.feedback .feedback-form .form-wrapper:hover i,
.feedback .feedback-form .form-wrapper:hover p {
  color: #0d2436;
}

.feedback .feedback-form .form-wrapper {
  box-shadow: rgba(136, 165, 191, 0.2) 3px 1px 8px 0px,
    rgba(255, 255, 255, 0.4) -3px -1px 8px 0px;
  width: 100px;
  height: 100px;
  background: #d9d9d9;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.6s;
}

.feedback .feedback-form i {
  color: #13232f;
  font-size: 50px;
}

.feedback .feedback-form p {
  font-size: 10px;
  margin-bottom: 0;
  color: #192335;
  font-weight: 600;
}

/* Start feedback responsive */
@media screen and (max-width: 1199.98px) {
  .feedback .feedback-say i {
    font-size: 225px;
  }
  .feedback .feedback-say p {
    font-size: 22px;
    padding: 30px;
  }
  .feedback .feedback-content .feedback-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .feedback .feedback-box {
    width: 375px;
  }
  .feedback .feedback-box .box-customer::before {
    font-size: 52px;
    top: -90%;
    left: 85%;
  }
}

@media screen and (max-width: 991.98px) {
  .feedback {
    padding: 60px 0;
  }
  .feedback .feedback-say i {
    font-size: 200px;
  }
  .feedback .feedback-say p {
    font-size: 20px;
    padding: 20px;
  }
  .feedback .feedback-content .feedback-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .feedback .feedback-box {
    width: 300px;
  }
  .feedback .feedback-box .box-customer::before {
    font-size: 40px;
    top: -65%;
    left: 95%;
  }
}

@media screen and (max-width: 767.98px) {
  .feedback {
    padding: 40px 0;
  }
  .feedback .feedback-say i {
    font-size: 175px;
  }
  .feedback .feedback-say p {
    font-size: 18px;
    padding: 10px;
  }
  .feedback .feedback-content .feedback-title {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .feedback .feedback-box {
    width: 375px;
  }
  .feedback .feedback-box .customer-content .customer-name {
    font-size: 18px;
  }
  .feedback .feedback-box .customer-content .customer-position {
    font-size: 14px;
  }
  .feedback .feedback-box .box-customer::before {
    font-size: 52px;
    top: -90%;
    left: 85%;
  }
}

@media screen and (max-width: 575.98px) {
  .feedback .feedback-say i {
    font-size: 150px;
  }
  .feedback .feedback-say p {
    font-size: 16px;
    padding: 0;
  }
  .feedback .feedback-content .feedback-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .feedback .feedback-box {
    width: 300px;
  }
  .feedback .feedback-box .box-customer::before {
    font-size: 40px;
    top: -65%;
    left: 95%;
  }
}
/* End feedback responsive */
/* End feedback */
