/* Start header */
.header {
  background: url(../../images/pages/introduce/Header/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin-top: -80px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header .header-contain {
  height: 100%;
}

.header .header-contain .container-md {
  height: 100%;
  position: relative;
}

.header .header-history {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  filter: brightness(1.5);
  position: absolute;
  bottom: 25%;
  padding-right: inherit;
}

.header .header-title {
  background: linear-gradient(to right, #25b5ee, #e814da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 72px;
}

.header .header-description {
  font-size: 24px;
}

/* Start header responsive*/
@media screen and (max-width: 1199.98px) {
  .header .header-history {
    bottom: 30%;
  }
  .header .header-title {
    font-size: 66px;
  }
  .header .header-description {
    font-size: 21px;
  }
}

@media screen and (max-width: 991.98px) {
  .header .header-history {
    bottom: 35%;
  }
  .header .header-title {
    font-size: 60px;
  }
  .header .header-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .header .header-history {
    bottom: 40%;
  }
  .header {
    margin-top: -60px;
  }
  .header .header-title {
    font-size: 54px;
  }
  .header .header-description {
    font-size: 15px;
  }
}

@media screen and (max-width: 575.98px) {
  .header .header-history {
    bottom: 45%;
  }
}
/* End header responsive*/
/* End header */

/* Start history */
.history {
  background: #ffe5c7;
  height: 1500px;
  overflow-x: hidden;
}

.history .history-top {
  height: 750px;
  color: #001656;
  text-align: justify;
}

.history .col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .col-lg-5 img {
  width: calc(100% - 90px);
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  transition: 0.6s;
}

.history .col-lg-5 img:hover {
  transform: scale(1.025);
}

.history .history-bottom {
  color: #c3edff;
  height: 600px;
  background: #00144d;
  position: relative;
  text-align: justify;
}

.history .history-title {
  padding-top: 100px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
}

.history .history-bottom .history-title {
  text-align: center;
}

.history .history-description {
  font-size: 24px;
  margin-bottom: 0;
}

.history-bottom::after,
.history-bottom::before {
  position: absolute;
  content: "SPIT";
  background: linear-gradient(
    to bottom,
    #00144d 0px,
    #00144d 60px,
    #ffe5c7 60px,
    #ffe5c7 100%
  );
  color: transparent;
  background-clip: text;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-family: var(--fontTextExtra);
  font-size: 160px;
}

.history-bottom::after {
  transform: rotate(180deg);
  right: -60px;
  bottom: -60px;
}

.history-bottom::before {
  left: -60px;
  top: -60px;
}

/* Start history responsive */
@media screen and (max-width: 1299.98px) {
  .history-bottom::after,
  .history-bottom::before {
    font-size: 140px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 55px,
      #ffe5c7 55px,
      #ffe5c7 100%
    );
    background-clip: text;
  }
  .history-bottom::after {
    right: -55px;
    bottom: -55px;
  }
  .history-bottom::before {
    left: -55px;
    top: -55px;
  }
}
@media screen and (max-width: 1199.98px) {
  .history-bottom::after,
  .history-bottom::before {
    font-size: 120px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 45px,
      #ffe5c7 45px,
      #ffe5c7 100%
    );
    background-clip: text;
  }

  .history-bottom::after {
    right: -45px;
    bottom: -45px;
  }

  .history-bottom::before {
    left: -45px;
    top: -45px;
  }
  .history .history-title {
    font-size: 36px;
    padding-top: 85px;
    margin-bottom: 40px;
  }
  .history .history-description {
    font-size: 22px;
  }
}

@media screen and (max-width: 991.98px) {
  .history {
    height: 1000px;
  }
  .history .history-title {
    font-size: 32px;
    padding-top: 70px;
    margin-bottom: 30px;
  }
  .history .history-description {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .history .row {
    height: 100%;
  }
  .history .history-top {
    color: #001656;
    text-align: justify;
  }
  .history .history-top {
    height: 500px;
  }
  .history .history-bottom {
    color: #c3edff;
    height: 500px;
    text-align: justify;
  }
  .history-top {
    position: relative;
  }
  .history-top::after {
    z-index: 1;
    content: "SPIT";
    transform: rotate(180deg);
    position: absolute;
    color: transparent;
    font-size: 100px;
    background: linear-gradient(
      to bottom,
      #ffe5c7 0px,
      #ffe5c7 180px,
      #00144d 180px,
      #00144d 100%
    );
    right: -40px;
    bottom: -180px;
    background-clip: text;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-family: var(--fontTextExtra);
  }
  .history-bottom::before {
    font-size: 100px;
    background: linear-gradient(
      to bottom,
      #00144d 0px,
      #00144d 180px,
      #ffe5c7 180px,
      #ffe5c7 100%
    );
    background-clip: text;
    left: -40px;
    top: -180px;
  }
  .history-bottom::after {
    display: none;
  }
  .history .history-top .history-title {
    text-align: center;
  }
  .history .col-lg-5 img {
    width: 50%;
    aspect-ratio: 16 / 9;
    margin-bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  .history .history-title {
    font-size: 28px;
    padding-top: 55px;
    margin-bottom: 20px;
  }
  .history .history-description {
    font-size: 16px;
  }
  .history .col-lg-5 img {
    width: 65%;
  }
}

@media (max-width: 575.98px) {
  .history {
    height: 750px;
  }
  .history .history-bottom,
  .history .history-top {
    height: 375px;
  }
  .history .history-title {
    font-size: 24px;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  .history .history-description {
    font-size: 14px;
  }
  .history .history-bottom .history-title {
    display: none;
  }
  .history .history-bottom {
    position: relative;
  }
  .history .history-bottom .history-description {
    position: absolute;
    top: 187.5px;
    padding-right: inherit;
  }
  .history .col-lg-5 img {
    display: none;
  }
  .history-top::after,
  .history-bottom::before {
    display: none;
  }
  .history .d-sm-none.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .history .col-sm-12 img {
    z-index: 1;
    width: 70vw;
    min-width: 290px;
    aspect-ratio: 4 / 3;
    position: absolute;
    transition: 0.6s;
  }
  .history .col-sm-12 img:hover {
    transform: scale(1.05);
  }
}
/* End history responsive */
/* End history */

/* Start vision */
.vision {
  padding: 80px 0;
  background: #d9d9d9;
  overflow-x: hidden;
}

.vision .water-drop-container {
  position: relative;
  height: 480px;
}

.vision .water-drop {
  position: absolute;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  border-radius: 47% 53% 70% 30% / 30% 43% 57% 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: move 8s infinite;
}

.vision .water-drop.one {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 232, 232, 1) 100%
  );
  width: 450px;
  height: 450px;
  z-index: 3;
}

.vision .water-drop.two {
  background: linear-gradient(
    90deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  );
  z-index: 2;
  width: 460px;
  height: 460px;
  animation-delay: 1.5s;
}

.vision .water-drop.three {
  background: linear-gradient(
    90deg,
    rgba(207, 206, 206, 1) 0%,
    rgba(184, 184, 184, 1) 100%
  );
  width: 470px;
  height: 470px;
  z-index: 1;
  animation-delay: 3s;
}

.vision .water-drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.9;
}

.vision .water-drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.9;
}

.vision .water-drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.vision .water-drop .content h2 {
  color: #307ae8;
  position: relative;
  padding: 15px;
  border-radius: 30px;
  background: #f1f1f1;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 30px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision .water-drop .content p {
  color: #003c6c;
  position: relative;
  margin-bottom: 0;
}

.vision .water-drop .content p::before {
  content: "\f10d";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #9a9a9a;
  left: 0;
  top: -30px;
  font-size: 24px;
}

.vision .water-drop .content p::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #9a9a9a;
  right: 70px;
  bottom: -20px;
  font-size: 24px;
}

.vision .content-md {
  text-align: center;
  padding: inherit;
  display: none;
  z-index: 4;
  position: relative;
  margin-bottom: 60px;
}

.vision .head-content {
  text-align: justify;
}

.vision .content-md h2 {
  color: #307ae8;
  margin-bottom: 20px;
}

.vision .content-md p {
  color: #003c6c;
}

.vision .content-md p::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #9a9a9a;
  font-size: 20px;
}

.vision .content-md p::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #9a9a9a;
  font-size: 20px;
}

.vision .content-container {
  position: relative;
  color: #192335;
  padding: inherit;
  z-index: 4;
}

.vision .content-container .body-content {
  text-align: justify;
}

.vision .content-container .body-image {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 40px;
}

.vision .content-container .body-image img {
  width: 500px;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.vision .content-container .contain-head {
  margin-bottom: 20px;
}

.vision .content-container .contain-body .body-content p {
  margin-left: 20px;
}

/* Start vision responsive */
@media screen and (max-width: 1199.98px) {
  .vision .water-drop.one {
    width: 420px;
    height: 420px;
  }
  .vision .water-drop.two {
    width: 430px;
    height: 430px;
  }
  .vision .water-drop.three {
    width: 440px;
    height: 440px;
  }
  .vision .water-drop .content {
    padding: 20px;
  }
  .vision .content-container .body-image img {
    width: 450px;
  }
}

@media screen and (max-width: 991.98px) {
  .vision .content-md {
    margin-bottom: 35px;
    display: block;
    padding-left: 30px;
  }
  .vision .content-md p {
    margin: 0;
  }
  .vision {
    position: relative;
  }
  .vision .head-content {
    font-size: 18px;
  }
  .vision .col-lg-7.col-md-12 {
    position: absolute;
    top: 10%;
    padding: 0;
  }
  .vision .water-drop-container .content {
    display: none;
  }
  .vision .content-container .body-image img {
    width: 400px;
  }
  .vision .content-container {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .vision {
    padding: 60px 0;
  }
  .vision .col-5 {
    display: none;
  }
  .vision .col-lg-7.col-md-12 {
    position: static;
  }
  .vision .col-lg-7.col-md-12 .content-md {
    margin-left: 15px;
    margin-right: 15px;
  }
  .vision .content-container {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
  }

  .vision .content-md {
    display: block;
    padding: 0;
  }
  .vision .content-container .contain-body .body-content p {
    margin-left: 0;
  }
  .vision .content-container .body-image {
    height: 50px;
  }
  .vision .content-container .body-image img {
    width: 350px;
  }
  .vision .content-md h2 {
    font-size: 28px;
  }
  .vision .head-content {
    font-size: 16px;
    text-align: center;
  }
  .vision .content-md p::before {
    font-size: 16px;
  }

  .vision .content-md p::after {
    font-size: 16px;
  }
  .vision .row {
    margin: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .vision .content-container .body-image {
    height: 50px;
  }
  .vision .content-container .body-image img {
    width: 290px;
  }
  .vision .content-md h2 {
    font-size: 24px;
  }
}
/* Start vision responsive */
/* End vision */

/* Start purpose */
.purpose {
  padding: 100px 0;
}

.purpose .purpose-content {
  color: #001656;
}

.purpose .purpose-content .purpose-description {
  text-align: justify;
}

.purpose .purpose-content .purpose-title {
  margin-bottom: 40px;
  font-size: 40px;
}

.purpose .purpose-content a {
  color: #0042ff;
}

.purpose .purpose-images .image-box {
  width: 150px;
  height: 400px;
}

.purpose .purpose-images .image-box:nth-child(even) {
  margin-top: 0;
}

.purpose .purpose-images .image-box:nth-child(odd) {
  margin-top: 60px;
}

.purpose .purpose-images .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 90px;
  object-fit: cover;
  transition: 0.6s;
}

.purpose .purpose-images .image-box:hover img {
  transform: scale(1.05);
}

.purpose .purpose-images .image-box:first-child img {
  object-position: -305px center;
}

.purpose .purpose-images .image-box:nth-child(2) img {
  object-position: -135px center;
}

.purpose .purpose-images .image-box:nth-child(3) img {
  object-position: -180px center;
}

.purpose .purpose-images .image-box:last-child {
  display: none;
}

/* Start purpose responsive */
@media screen and (max-width: 1199.98px) {
  .purpose .purpose-content .purpose-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .purpose .purpose-images .image-box {
    width: 125px;
    height: 375px;
  }
  .purpose .purpose-images .image-box:nth-child(odd) {
    margin-top: 120px;
  }
}
@media screen and (max-width: 991.98px) {
  .purpose {
    padding: 60px 0;
  }
  .purpose .purpose-content .purpose-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  .purpose .purpose-images .image-box {
    padding: 0 15px;
    width: 400px;
    height: 100px;
  }
  .purpose .purpose-images .image-box:first-child {
    margin-top: 30px;
  }
  .purpose .purpose-images .image-box:nth-child(2) {
    margin-top: 30px;
  }
  .purpose .purpose-images .image-box:nth-child(3) {
    margin-top: 30px;
  }
  .purpose .purpose-images .image-box:first-child img {
    object-position: center center;
  }
  .purpose .purpose-images .image-box:nth-child(2) img {
    object-position: center center;
  }
  .purpose .purpose-images .image-box:nth-child(3) img {
    object-position: center center;
  }
}

@media screen and (max-width: 767.98px) {
  .purpose {
    padding: 60px 0;
  }
  .purpose .purpose-content .purpose-title {
    font-size: 28px;
    text-align: center;
  }
  .purpose .purpose-images .image-box {
    padding: 0;
  }
  .purpose .purpose-images {
    position: relative;
    height: 350px;
  }
  .purpose .purpose-images .image-box img {
    border-radius: 0;
  }
  .purpose .purpose-images .image-box:first-child {
    display: none;
  }
  .purpose .purpose-images .image-box:nth-child(2) {
    display: none;
  }
  .purpose .purpose-images .image-box:nth-child(3) {
    display: none;
  }
  .purpose .purpose-images .image-box:last-child {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    margin: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .purpose .purpose-images .image-box:last-child img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .purpose .purpose-images {
    height: 300px;
  }
  .purpose .purpose-images .image-box {
    width: 100%;
    text-align: center;
    height: 70%;
  }
  .purpose .purpose-content .purpose-title {
    font-size: 24px;
  }
  .purpose .purpose-images .image-box img {
    border-radius: 30px;
    width: 290px;
  }
  .purpose .purpose-images .image-box:nth-child(2) {
    width: 100%;
    margin-top: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .purpose .purpose-images .image-box:last-child {
    display: none;
  }
}
/* End purpose responsive */
/* End purpose */

/* Start time */
.time {
  background: #d4d8ed;
  padding: 100px 0;
}

.time .time-head {
  color: #0045b3;
}

.time .time-head .time-title {
  padding-bottom: 2.5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #0045b3;
  font-size: 40px;
}

.time .time-body {
  margin-top: 30px;
  color: #192335;
}

.time .time-body .time-content {
  margin-bottom: 90px;
}

.time .time-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time .time-images .image-contain {
  width: 525px;
  height: 250px;
}

.time .time-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #9a7aa3;
  border-radius: 20px;
  transition: 0.6s;
}

.time .time-images img:hover {
  transform: scale(1.05);
}

/* Start time responsive */
@media screen and (max-width: 1199.98px) {
  .time .time-head .time-title {
    font-size: 36px;
  }
  .time .time-body .time-content {
    margin-bottom: 75px;
  }
  .time .time-images .image-contain {
    width: 450px;
    height: 200px;
  }
}

@media screen and (max-width: 991.98px) {
  .time {
    padding: 80px 0;
  }
  .time .time-head .time-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .time .time-body .time-content {
    margin-bottom: 60px;
  }
  .time .time-images .image-contain {
    width: 325px;
    height: 225px;
  }
}

@media screen and (max-width: 767.98px) {
  .time {
    padding: 60px 0;
  }
  .time .time-head .time-title {
    font-size: 28px;
    text-align: center;
  }
  .time .time-head .time-description {
    text-align: center;
  }
  .time .time-images {
    display: block;
  }
  .time .time-images .image-contain {
    width: 70%;
    height: 30%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 575.98px) {
  .time {
    padding: 40px 0;
  }
  .time .time-head .time-title {
    font-size: 24px;
  }
  .time .time-body .time-content {
    margin-bottom: 45px;
  }
  .time .time-images .image-contain {
    min-width: 290px;
    height: 150px;
    margin-top: 15px;
  }
}
/* End time responsive */
/* End time */

/* Start structure */
.structure {
  padding: 100px 0;
}

.structure .inner-head {
  margin-bottom: 30px;
}

.structure .inner-head .head-wrapper {
  position: relative;
  width: 300px;
  height: 60px;
  background: #0080ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}

.structure > .inner-body {
  margin-left: 20px;
  margin-right: 20px;
}

.structure .inner-head .head-wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 60px solid #0080ff;
  border-bottom: 30px solid transparent;
  top: 0;
  right: -60px;
}

.structure .inner-body .board {
  text-align: center;
}

.structure .inner-body .homeroom-board {
  margin-bottom: 80px;
}

.structure .underline {
  margin: auto;
  max-width: 500px;
  background: #cbcbcb;
  height: 1px;
}

.structure .inner-body .advisory-board {
  margin-top: 80px;
}

.structure .inner-body .board .inner-head {
  margin-bottom: 60px;
}

.structure .inner-body .board .inner-head .inner-title {
  margin-bottom: 30px;
}

.structure .inner-body .board .inner-head .inner-description {
  max-width: 800px;
  margin: auto;
}

.structure .inner-head .head-title {
  z-index: 1;
  margin: 0;
  font-size: 28px;
}

.structure .inner-body .inner-title {
  color: var(--color);
}

.structure .inner-body .inner-description {
  color: var(--color);
  text-align: center;
}

.structure .inner-body .inner-box {
  max-width: 300px;
  height: 300px;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--borderColor);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 15px;
}

.structure .inner-body .box-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.structure .inner-body .box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.structure .inner-body .box-content {
  text-align: center;
}

.structure .inner-body .box-title {
  color: var(--color);
}

.structure .inner-body .box-description {
  color: var(--color);
  margin: 0 30px;
}

.structure .inner-body .inner-box {
  transition: 0.6s;
}

.structure .inner-body .inner-box:hover,
.structure .inner-body .inner-box.inner-box:focus {
  transform: scale(1.05);
  box-shadow: rgba(14, 30, 37, 0.25) 0px 5px 10px 0px,
    rgba(14, 30, 37, 0.35) 0px 10px 20px 0px;
}

.structure .inner-body .inner-box:hover .box-title,
.structure .inner-body .inner-box:focus .box-title {
  color: #307ae8;
}

.structure .inner-body .inner-box:hover .box-image img,
.structure .inner-body .inner-box:focus .box-image img {
  border: 2px solid #bd8bfa;
}

.structure .inner-body .inner-box:hover .box-description,
.structure .inner-body .inner-box:focus .box-description {
  color: #001656;
}

/* Start structure responsive */
@media screen and (max-width: 1199.98px) {
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 36px;
  }
  .structure .inner-head .head-title {
    font-size: 26px;
  }
  .structure .inner-body .homeroom-board {
    margin-bottom: 60px;
  }
  .structure .inner-body .advisory-board {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991.98px) {
  .structure {
    padding: 80px 0;
  }
  .structure .inner-head .head-title {
    font-size: 24px;
  }
  .structure .inner-body .board .inner-head .inner-title {
    margin-bottom: 22.5px;
  }
  .structure .inner-body .board .inner-head {
    margin-bottom: 30px;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 32px;
  }
  .structure .inner-body .box-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .structure {
    padding: 60px 0;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .structure .inner-head .head-title {
    font-size: 22px;
  }
  .structure .inner-head .head-wrapper {
    width: 250px;
    height: 50px;
  }
  .structure .inner-head .head-wrapper::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #0080ff;
    border-bottom: 25px solid transparent;
    top: 0;
    right: -50px;
  }
  .structure .inner-head .head-title {
    font-size: 22px;
  }
  .structure .inner-body .homeroom-board {
    margin-bottom: 40px;
  }
  .structure .inner-body .advisory-board {
    margin-top: 40px;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 28px;
  }
  .structure .inner-body .box-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 575.98px) {
  .structure .inner-head .head-wrapper {
    width: 100%;
  }
  .structure .inner-body .board .inner-head .inner-title {
    font-size: 24px;
  }
  .structure .inner-head .head-title {
    font-size: 20px;
  }
  .structure .inner-head .head-wrapper::before {
    display: none;
  }
}
/* End structure responsive */
/* End structure */
