/* Start global styles */
body {
  background: linear-gradient(
    30deg,
    #004dc1 0%,
    #0047bb 10%,
    #003fae 20%,
    #00329d 30%,
    #002683 40%,
    #001a61 50%,
    #001048 60%,
    #000a36 100%
  );
}
/* End global styles */

/* Star video pops up */
.video-popsup {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.video-popsup .inner-close {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.video-popsup .inner-close:hover {
  background: #9c9c9c6a;
}

.video-popsup video {
  width: 65%;
}

/* Start video pops up responsive*/
@media screen and (max-width: 991.98px) {
  .video-popsup .inner-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
  }
  .video-popsup video {
    width: 70%;
  }
}

@media screen and (max-width: 767.98px) {
  .video-popsup .inner-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
  }
  .video-popsup video {
    width: 75%;
  }
}
/* End video pops up responsive*/
/* End video pops up */

/* Start header */
.header {
  height: 800px;
  display: flex;
  align-items: center;
}

.header .row {
  margin-top: -20px;
}

.header .header-content .header-title {
  border-bottom: 2.5px #ffbb0070 solid;
}

.header .header-content .header-news {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.header .header-content .header-information {
  font-size: 46px;
  color: #ffb900;
  font-weight: 900;
  margin-bottom: 0;
}

.header .header-description {
  padding-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
}

.header .header-video {
  margin-bottom: 24px;
}

.header .header-video img {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 20px;
  display: none;
}

.header .header-video video {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 20px;
}

.header .header-video {
  position: relative;
}

.header .inner-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.header .inner-play i {
  position: relative;
  z-index: 3;
}

.header .inner-play::after {
  z-index: 1;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 120px;
  height: 120px;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: icons;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}

.header .header-icons {
  overflow-x: hidden;
  border-left: 2.5px #9c9c9c solid;
  border-right: 2.5px #9c9c9c solid;
}

.header .header-icons .inner-wrapper {
  display: flex;
  gap: 12.5px;
}

.header .header-icons .inner-icon {
  width: 50px;
  height: 50px;
  background: transparent;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-icons .inner-icon i {
  color: #9c9c9c;
  font-size: 28px;
  opacity: 0.45;
}

@media screen and (max-width: 1199.98px) {
  .header .row {
    margin-top: -40px;
  }
  .header .header-content .header-news {
    font-size: 37px;
  }
  .header .header-content .header-information {
    font-size: 43px;
  }
  .header .header-description {
    font-size: 21px;
  }
}

@media screen and (max-width: 991.98px) {
  .header .row {
    margin-top: -60px;
  }
  .header .header-content .header-news {
    font-size: 34px;
  }
  .header .header-content .header-information {
    font-size: 40px;
  }
  .header .header-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 767.98px) {
  .header .row {
    margin-top: -80px;
  }
  .header .header-content {
    margin-bottom: 48px;
  }
  .header .header-content .header-news {
    font-size: 31px;
  }
  .header .header-content .header-information {
    font-size: 37px;
  }
  .header .header-description {
    font-size: 15px;
  }
}

@media screen and (max-width: 575.98px) {
  .header .row {
    margin-top: -100px;
  }
  .header .header-content {
    margin-bottom: 36px;
  }
}
/* End header responsive */
/* End header */

/* Start news */
.news {
  padding: 80px 0;
}

.news label {
  margin-bottom: 0;
  cursor: pointer;
}

.news i {
  cursor: pointer;
}

.news .form-control:focus {
  border: none;
  box-shadow: none;
}

.news .filter-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 10;
  width: 150px;
  transform: translateY(-12.5%);
}

.news .filter-option {
  padding: 10px;
  cursor: pointer;
}

.news .filter-option:hover {
  background-color: #f0f0f0;
}

.news .container-sm {
  background: #ffffff;
  padding: 24px 0;
}

.news .news-search {
  color: #192335;
  display: flex;
}

.news .search-wrapper {
  margin-bottom: 0;
  position: relative;
  background: #d9d9d9;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #0086bf;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.news .news-search .search-input {
  font-size: 16px;
  background: #d9d9d9;
  width: 75%;
  border: none;
  padding: 0;
}

.news .news-search .search-input::placeholder {
  font-size: 18px;
}

.news .news-information {
  margin-top: 24px;
  padding: 0 45px;
}

.news .news-information a:hover img {
  transform: scale(1.025);
}

.news .news-information a {
  border-bottom: 1px solid #cccccc;
}

.news .news-information p {
  color: #192335;
  text-align: center;
  margin-bottom: 0;
}

.news .news-information .inner-title {
  color: #144db7;
  font-size: 26px;
}

.news .news-information .inner-description {
  color: #5c5c5c;
  text-align: justify;
  margin-bottom: 0;
  font-size: 20px;
}

.news .news-information .row {
  margin: 0;
  padding: 30px 0;
}

.news .news-information img {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 6 / 4;
  object-fit: fill;
  transition: 0.6s all;
}

.news .news-information a.no-border-bottom {
  border-bottom: none;
}

.news #paginationContainer {
  padding: 10px 0;
}

.news #paginationContainer a {
  user-select: none;
}

.news #paginationContainer .paginationjs {
  justify-content: center;
}

.news .paginationjs .paginationjs-pages a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #144db7;
  border: 2px solid #144db7;
  background-color: transparent;
}

.paginationjs .paginationjs-pages li.active > a {
  background-color: #144db7;
  color: #ffffff;
}

.paginationjs .paginationjs-pages .paginationjs-prev > a {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  border-radius: 50% !important;
}

.paginationjs .paginationjs-pages .paginationjs-next > a {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  border-radius: 50% !important;
}

.paginationjs .paginationjs-pages li:last-child > a {
  border-radius: 50%;
}

.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 50%;
}

.news .paginationjs .paginationjs-pages li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.news .paginationjs .paginationjs-pages li {
  margin: 0 clamp(2px, 1vw, 4px);
}

.news .paginationjs .paginationjs-pages a {
  height: clamp(20px, 5vw, 30px);
  min-width: clamp(20px, 5vw, 30px);
}
.paginationjs .paginationjs-pages li.active > a {
  height: clamp(20px, 5vw, 30px);
}

@media screen and (max-width: 1199.98px) {
  .news .news-information {
    padding: 0 30px;
  }
  .news .news-information .inner-title {
    font-size: 24px;
  }
  .news .news-information .inner-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 991.98px) {
  .news {
    padding: 50px 0;
  }
  .news .news-information .inner-title {
    font-size: 22px;
  }
  .news .news-information {
    padding: 0 15px;
  }
  .news .news-information .inner-description {
    font-size: 16px;
  }
  .news .news-search .search-input::placeholder {
    font-size: 16px;
  }
  .news .search-wrapper {
    padding: 7.5px;
  }
  .news .paginationjs .paginationjs-pages a {
    font-size: 12px;
  }
}

@media screen and (max-width: 768.98px) {
  .news .news-information img {
    margin-bottom: 24px;
  }
  .news .news-information .inner-title {
    font-size: 20px;
  }
  .news {
    padding: 20px 0;
  }
  .news .news-information {
    padding: 0;
  }
  .news .news-information .inner-description {
    font-size: 14px;
  }
  .news .news-search .search-input::placeholder {
    font-size: 14px;
  }
  .news .search-wrapper {
    padding: 5px;
    margin-right: auto;
  }
}

@media screen and (max-width: 575.98px) {
  .news .news-information img {
    margin-bottom: 16px;
  }
  .news .news-information .inner-title {
    font-size: 18px;
  }
  .news {
    padding-bottom: 40px;
  }
  .news .news-information .inner-description {
    font-size: 12px;
  }
  .news .paginationjs .paginationjs-pages a {
    font-size: 10px;
  }
}
/* End news */
