@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Start keyframe animation */
@keyframes swipeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes swipeOutRight {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes shakeLeft {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes shakeRight {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-5px, 5px) scale(1.05);
  }
  50% {
    transform: translate(5px, 5px) scale(1);
  }
  75% {
    transform: translate(-5px, -5px) scale(0.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes outLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

@keyframes outRight {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(100%);
  }
}

@keyframes inRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes inLeft {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes icons {
  from {
    transform: translate(-50%, -50%) scale(0.66);
    opacity: 0.5;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-342%);
  }
}

@keyframes fadeToBlack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MyflipInX {
  from {
    transform: perspective(10000px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(10000px) rotateX(-10deg);
    opacity: 1;
  }
  70% {
    transform: perspective(10000px) rotateX(10deg);
  }
  100% {
    transform: perspective(10000px) rotateX(0);
  }
}

@keyframes MyflipOutX {
  from {
    transform: perspective(10000px) rotateX(0);
    opacity: 1;
  }
  30% {
    transform: perspective(10000px) rotateX(-10deg);
  }
  100% {
    transform: perspective(10000px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes MybounceOutRight {
  20% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes MybounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.mybounceInRight {
  animation: MybounceInRight 1s both;
}

.mybounceOutRight {
  animation: MybounceOutRight 1s both;
}

.myflipInX {
  animation-name: MyflipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.myflipOutX {
  animation-name: MyflipOutX;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.scroll-icons {
  animation: scroll 180s linear infinite reverse;
}

.in-right {
  animation: inRight 1s forwards;
}

.in-left {
  animation: inLeft 1s forwards;
}

.out-right {
  animation: outRight 1s forwards;
}

.out-left {
  animation: outLeft 1s forwards;
}

.header-decoration img.left {
  animation: shakeLeft 5s infinite ease-in-out;
}

.header-decoration img.right {
  animation: shakeRight 5s infinite ease-in-out;
}

.swipeInRight {
  animation-name: swipeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.swipeOutRight {
  animation-name: swipeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.show {
  display: block !important;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  display: none !important;
}

/* End keyframe animation*/

/* Start root variables */
:root {
  --fontText: "Quicksand", sans-serif;

  --fontTextTitle: "Merriweather", serif;
  --fontTextContent: "Noto Sans", sans-serif;

  --fontTextExtra: "MuseoModerno", sans-serif;
}
/* End root variables */

/* Start global styles */
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p,
ul,
li,
label,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
em,
i,
u,
small,
mark,
q,
cite,
code,
abbr,
kbd,
var,
dfn,
time {
  user-select: text;
}

body {
  font-family: var(--fontText);
  font-size: 18px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

*::selection {
  background: #5ce1e640;
  color: #b87bfab0;
}

/* Thêm lớp disabled để vô hiệu hóa tương tác */
.disabled {
  pointer-events: none; /* Vô hiệu hóa tất cả các sự kiện chuột */
  opacity: 0.5; /* Tùy chọn: giảm độ sáng để cho thấy nó không hoạt động */
}

/* Start global styles responsive */
@media screen and (max-width: 991.98px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  body {
    font-size: 14px;
  }
}

/* End global styles responsive */
/* End global styles */

/* Start alert */
.alert {
  margin-bottom: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100000;
  width: 600px;
  border-radius: 8px;
  background: #ffffff;
  border: none;
  color: #757575;
  padding: 12px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.alert.active {
  display: flex;
}
.alert .alert-content {
  width: 92.5%;
  font-size: 18px;
}

.alert .alert-icon {
  background: var(--background-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert .alert-icon i {
  color: #ffffff;
  font-size: 18px;
}

.alert .alert-wrapper {
  width: 100%;
  padding: 10px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert .alert-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 10.75px;
}

.alert .alert-close i {
  font-size: 18px;
}

.alert .progress-container {
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 8px 8px;
}

.alert.active .progress-container .progress-bar {
  border-radius: 0 0 0px 8px;
}

.alert .progress-container .progress-bar {
  background: var(--background-color);
  height: 100%;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 1199.98px) {
  .alert {
    width: 550px;
  }
  .alert .alert-content {
    width: 91.25%;
    font-size: 18px;
  }
}

@media screen and (max-width: 991.98px) {
  .alert {
    padding: 10px;
    border-radius: 6px;
    width: 500px;
  }
  .alert .alert-wrapper {
    padding: 8px;
  }
  .alert .alert-content {
    width: 90.625%;
    font-size: 16px;
  }
  .alert .alert-close {
    padding: 3.5px 9.5px;
  }

  .alert .alert-close i {
    font-size: 16px;
  }
  .alert .alert-icon {
    width: 25px;
    height: 25px;
  }

  .alert .alert-icon i {
    font-size: 16px;
  }
  .alert .progress-container {
    height: 6px;
    border-radius: 0 0 6px 6px;
  }
  .alert.active .progress-container .progress-bar {
    border-radius: 0 0 0px 6px;
  }
  .alert .progress-container .progress-bar {
    border-radius: 0 0 6px 6px;
  }
}

@media screen and (max-width: 767.98px) {
  .alert {
    padding: 8px;
    border-radius: 4px;
    width: 450px;
    top: 10px;
    right: 10px;
    height: 61.5px;
  }
  .alert .alert-wrapper {
    padding: 6px;
  }
  .alert .alert-content {
    width: 90.3125%;
    font-size: 14px;
  }
  .alert .alert-close {
    padding: 3.5px 8.75px;
  }

  .alert .alert-close i {
    font-size: 14px;
  }
  .alert .alert-icon {
    width: 20px;
    height: 20px;
  }

  .alert .alert-icon i {
    font-size: 14px;
  }
  .alert .progress-container {
    height: 4px;
    border-radius: 0 0 4px 4px;
  }
  .alert.active .progress-container .progress-bar {
    border-radius: 0;
  }
  .alert .progress-container .progress-bar {
    border-radius: 0 0 4px 4px;
  }
}

@media screen and (max-width: 575.98px) {
  .alert {
    padding: 8px;
    border-radius: 0;
    width: 100%;
    top: 0;
    right: 0;
  }
  .alert .progress-container {
    border-radius: 0;
  }

  .alert .progress-container .progress-bar {
    border-radius: 0;
  }
}

/* End alert */

/* Start menu */
.menu-wrapper {
  height: auto;
}

.menu {
  height: 80px;
  position: relative;
  transition: top 1s ease, box-shadow 0.5s ease, background-color 0.3s ease;
  z-index: 1000;
}

.menu.fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(0);
  scale: 1.025;
}

.menu.fixed .menu-content {
  color: transparent;
  background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu.fixed .navigation-item,
.menu.fixed .show-icon {
  color: transparent;
  background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu.fixed .menu-content:hover {
  background: linear-gradient(-45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu.fixed .navigation-item {
  padding-top: 2px;
}

.menu.fixed .navigation-item.active {
  color: transparent;
  background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu .menu-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.menu .menu-logo,
.navigation .navigation-logo {
  display: flex;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu .menu-logo:hover,
.navigation .navigation-logo:hover {
  transform: scale(1.05);
  color: #ffffd3;
}

.menu .menu-logo img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  margin-right: 15px;
}

.menu .menu-content .menu-subtitle {
  text-transform: uppercase !important;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.menu .menu-content .menu-title {
  text-transform: uppercase !important;
  font-weight: 800;
}

.menu .navigation .navigation-item {
  text-transform: uppercase !important;
  display: inline-block;
  margin-left: 30px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu .navigation .navigation-item:hover {
  color: #ffffd3;
  transform: scale(1.05);
}

.menu.fixed .navigation-item:hover {
  color: transparent;
  background: linear-gradient(to left, #5dc0f1, #b97bfa, #f66370);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu .show-icon:hover {
  color: #ffffd3;
}

.menu.fixed .show-icon:hover {
  color: transparent;
  background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  -webkit-background-clip: text;
  background-clip: text;
}

.menu .navigation-item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2.5px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #b0b0b0 30%,
    #dcdcdc 70%,
    transparent 100%
  );
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.menu .navigation-item:hover::before {
  width: 100%;
  left: 0;
}

.menu .navigation-item.active {
  display: inline-block;
  color: #ffffd3;
  position: relative;
}

.menu .navigation-item.active::before {
  left: 0;
  width: 100%;
  transition: none;
}

.menu.fixed .navigation .navigation-item.active:hover {
  background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  background-clip: text;
  -webkit-background-clip: text;
}

.menu .navigation .navigation-item.active:hover,
.menu.fixed .navigation .navigation-item.active:hover {
  transform: none;
}

.menu .show-icon,
.menu .navigation-close {
  display: none;
}
/* Start menu responsive */
@media screen and (max-width: 1199.98px) {
  .menu .menu-logo img {
    height: 40px;
    width: 40px;
  }
  .menu .menu-content .menu-subtitle {
    font-size: 14px;
  }
  .menu .menu-content .menu-title {
    font-size: 16px;
  }
  .menu .navigation .navigation-item {
    margin-left: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu .menu-contain .navigation-item.active:hover {
    color: transparent;
  }
  .menu .navigation-item.active::before {
    background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
  }
  .menu .menu-contain {
    position: relative;
  }
  .menu .show-icon {
    display: block;
    color: #ffffff;
    font-size: 30px;
    transition: transform 0.3s ease;
  }
  .menu .show-icon:hover {
    transform: scale(1.2);
  }
  .menu .navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 300px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px,
      rgba(0, 0, 0, 0.5) 0px 30px 60px -20px,
      rgba(0, 0, 0, 0.4) 0px 60px 120px -40px,
      rgba(0, 0, 0, 0.7) 0px 80px 160px -60px,
      rgba(255, 255, 255, 0.15) 0px -2px 6px 0px inset;
    background-color: #ffffff;
    z-index: 2;
  }
  .menu .navigation-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  .menu .navigation-close .hide-icon {
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    background-clip: text;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .menu .navigation-close .hide-icon:hover {
    background: linear-gradient(45deg, #003c6c, #004f8b, #0075a4, #00a0b5);
    background-clip: text;
    transform: scale(1.2);
  }
  .menu .navigation-logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
  .menu .navigation .navigation-item {
    margin-left: 0px;
    padding: 15px 10px 15px 30px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(to right, #5dc0f1, #b97bfa, #f66370);
    color: transparent;
    background-clip: text;
  }
  .menu .navigation-item::before {
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to right,
      #5dc0f1,
      #b97bfa,
      #f66370,
      transparent 100%
    );
    transition: width 0.3s ease-in-out;
    border-radius: 0;
    z-index: -1;
  }
  .menu .navigation .navigation-item:hover {
    color: #ffffd3;
  }
  .menu .mask {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    height: 60px;
  }
  .menu .menu-logo img {
    height: 35px;
    width: 35px;
  }
  .menu .menu-content {
    display: none;
  }
  .menu .menu-contain {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu .navigation {
    width: 100%;
    background-color: #ffffffee;
  }
  .menu .navigation-logo img {
    height: 45px;
    width: 45px;
  }
  .menu .navigation-close .hide-icon {
    font-size: 30px;
  }
  .menu .navigation .navigation-item {
    font-size: 14px;
  }
  .menu .navigation .navigation-item:hover {
    margin-left: 15px;
  }
  .menu .navigation .navigation-item:hover::before {
    left: -15px;
  }
  .menu .navigation .navigation-item.active:hover {
    margin-left: 0px;
  }
  .menu .navigation .navigation-item.active:hover::before {
    left: 0px;
  }
  .menu .show-icon {
    font-size: 20px;
  }
  .menu .mask {
    display: none !important;
  }
}
/* End menu responsive */
/* End menu */

/* Start footer */
.footer-wrapper {
  height: auto;
  width: 100%;
}

.footer {
  color: #ffffff;
  padding: 40px 0 10px 0;
  background: #113a77;
}

.footer .inner-box {
  margin-bottom: 30px;
}

.footer .inner-head {
  display: flex;
  align-items: center;
  width: max-content;
}

.footer .inner-head img {
  width: 44px;
  height: 44px;
  margin-right: 15px;
}

.footer .footer-contact .inner-head p {
  font-size: 12px;
  margin: 0;
}

.footer .footer-contact .inner-head p b {
  font-size: 14px;
}

.footer .inner-body {
  margin-top: 15px;
}

.footer .contact-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer .contact-box .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  margin-right: 15px;
}

.footer .contact-box .icon i {
  font-size: 12px;
}

.footer .contact-box p,
.footer .contact-box a {
  font-size: 14px;
  margin: 0;
}

.footer .contact-box a:hover {
  text-decoration: underline;
  color: #1f98d3;
}

.footer .organization {
  width: max-content;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer .organization img {
  width: 44px;
  height: 44px;
  object-fit: contain;
  margin-right: 15px;
}

.footer .organization p {
  margin: 0;
  font-size: 14px;
}

.footer .organization a {
  font-size: 12px;
  color: #307ae8;
  margin-top: 7.5px;
}

.footer .organization a:hover {
  color: #014ec2;
}

.footer .footer-organization .inner-head,
.footer .footer-page .inner-head {
  font-weight: bold;
  font-size: 18px;
}

.footer .footer-page .inner-body {
  width: max-content;
  font-size: 16px;
  margin: 0;
}

.footer .footer-page .inner-body a.active,
.footer .footer-page .inner-body a:hover,
.footer .footer-page-md .inner-body a.active,
.footer .footer-page-md .inner-body a:hover {
  color: #ffa500;
}

.copy-right {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

.copy-right p {
  color: #192335;
  margin: 0;
  font-size: 12px;
}

.footer .footer-page-md {
  display: none;
  padding: 0;
}

.footer .footer-page-md p,
.footer .footer-page-md a {
  display: inline-block;
  width: max-content;
}

.footer .inner-wrap {
  width: min-content;
  margin: auto;
}

/* Start footer responsive */
@media screen and (max-width: 1199.98px) {
  .footer .inner-head img {
    width: 33px;
    height: 33px;
    margin-right: 7.5px;
  }
  .footer .footer-contact .inner-head p {
    font-size: 10px;
  }
  .footer .footer-contact .inner-head p b {
    font-size: 12px;
  }
  .footer .contact-box p,
  .footer .contact-box a {
    font-size: 12px;
  }
  .footer .footer-organization .inner-head,
  .footer .footer-page .inner-head {
    font-size: 16px;
  }
  .footer .organization p {
    font-size: 12px;
  }
  .footer .organization a {
    font-size: 10px;
  }
  .footer .organization img {
    width: 33px;
    height: 33px;
    margin-right: 7.5px;
  }
  .footer .footer-page .inner-body {
    font-size: 12px;
  }
  .footer .contact-box .icon {
    width: 20px;
    height: 20px;
    margin-right: 7.5px;
  }
  .footer .contact-box .icon i {
    font-size: 10px;
  }
}

@media screen and (max-width: 991.98px) {
  .footer .footer-page {
    display: none;
  }
  .footer .footer-page-md {
    display: block;
  }
  .footer .inner-head img,
  .footer .organization img {
    width: 44px;
    height: 44px;
    margin-right: 15px;
  }
  .footer .footer-page-md .inner-body {
    font-size: 15px;
  }

  .footer .organization p {
    font-size: 14px;
  }
  .footer .organization a {
    font-size: 12px;
  }
  .footer .footer-contact .inner-head p {
    font-size: 12px;
  }
  .footer .footer-contact .inner-head p b {
    font-size: 14px;
  }
  .footer .contact-box p,
  .footer .contact-box a {
    font-size: 14px;
  }
  .footer .footer-organization .inner-head,
  .footer .footer-page-md .inner-head p {
    font-size: 17px;
    display: block;
    margin: 0;
    font-weight: bold;
  }
  .footer .footer-page-md {
    margin-top: 45px;
  }
  .footer .contact-box .icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .footer .contact-box .icon i {
    font-size: 12px;
  }
  .footer .footer-page-md.one {
    margin-top: 30px;
  }
  .footer .footer-page-md.two {
    margin-top: 89.875px;
  }
  .footer .organization {
    margin-bottom: 5px;
  }
  .footer .contact-box {
    margin-bottom: 13.125px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer .inner-head img {
    width: 33px;
    height: 33px;
    margin-right: 7.5px;
  }
  .footer .footer-contact .inner-head p {
    font-size: 10px;
  }
  .footer .footer-contact .inner-head p b {
    font-size: 12px;
  }
  .footer .contact-box p,
  .footer .contact-box a {
    font-size: 12px;
  }

  .footer .footer-organization .inner-head,
  .footer .footer-page-md .inner-head p {
    font-size: 15px;
  }
  .footer .organization p {
    font-size: 12px;
  }
  .footer .organization a {
    font-size: 10px;
  }
  .footer .organization img {
    width: 33px;
    height: 33px;
    margin-right: 7.5px;
  }
  .footer .footer-page-md .inner-body {
    font-size: 13px;
  }
  .footer .organization {
    margin-bottom: 0;
  }
  .footer .contact-box .icon {
    width: 20px;
    height: 20px;
    margin-right: 7.5px;
  }
  .footer .contact-box .icon i {
    font-size: 10px;
  }
  .footer .footer-page-md.two {
    margin-top: 59.875px;
  }
  .footer .contact-box {
    margin-bottom: 11.25px;
  }
}

@media screen and (max-width: 575.98px) {
  .footer .inner-wrap {
    margin: 0;
  }
  .footer .footer-page {
    display: block;
  }
  .footer .footer-page-md {
    display: none;
  }
  .footer .inner-head p {
    font-size: 14px;
  }
  .footer .contact-box {
    margin-bottom: 7.5px;
  }
  .footer .contact-box:last-child {
    margin-bottom: 0;
  }
  .footer .organization.two {
    margin-bottom: 0;
  }
}
/* End footer responsive */
/* End footer */

/* Start link button */
.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  box-sizing: content-box;
}

.link-button p {
  user-select: none;
  margin: 0;
  font-weight: bold;
}

.link-button p > i {
  margin-left: 15px;
}
/* End link button */

/* Start button components */
.top-button,
.bottom-button {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 1000;
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.bottom-button {
  display: flex;
}

.top-button:focus,
.bottom-button:focus {
  outline: 0;
}

.top-button:hover,
.bottom-button:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.top-button::before,
.bottom-button::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
  top: -10%;
  left: -10%;
  transition: all 0.3s;
  transform: scale(0.8);
  border-radius: 50%;
}

.top-button:hover::before,
.bottom-button:hover::before {
  transform: scale(1);
}
/* Start button components responsive */
@media screen and (max-width: 1199.98px) {
  .top-button,
  .bottom-button {
    height: 90px;
    width: 90px;
    font-size: 24px;
    bottom: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 991.98px) {
  .top-button,
  .bottom-button {
    height: 80px;
    width: 80px;
    font-size: 22px;
    bottom: 25px;
    right: 25px;
  }
}

@media screen and (max-width: 767.98px) {
  .top-button,
  .bottom-button {
    height: 70px;
    width: 70px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .top-button,
  .bottom-button {
    height: 60px;
    width: 60px;
    font-size: 18px;
    bottom: 15px;
    right: 15px;
  }
}
/* End button components responsive*/
/* End button components */
